<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <SchemaVersion>2.0</SchemaVersion>
    <ProjectVersion>7.0</ProjectVersion>
    <ToolchainName>com.Atmel.ARMGCC.C</ToolchainName>
    <ProjectGuid>dce6c7e3-ee26-4d79-826b-08594b9ad897</ProjectGuid>
    <avrdevice>ATSAMS70Q21B</avrdevice>
    <avrdeviceseries>sams70</avrdeviceseries>
    <OutputType>Executable</OutputType>
    <Language>C</Language>
    <OutputFileName>$(MSBuildProjectName)</OutputFileName>
    <OutputFileExtension>.elf</OutputFileExtension>
    <OutputDirectory>$(MSBuildProjectDirectory)\build-$(Configuration.ToLower())</OutputDirectory>
    <AssemblyName>RadarBaseboardMCU7</AssemblyName>
    <Name>RadarBaseboardMCU7</Name>
    <RootNamespace>RadarBaseboardMCU7</RootNamespace>
    <ToolchainFlavour>Native</ToolchainFlavour>
    <KeepTimersRunning>true</KeepTimersRunning>
    <OverrideVtor>false</OverrideVtor>
    <CacheFlash>true</CacheFlash>
    <ProgFlashFromRam>true</ProgFlashFromRam>
    <RamSnippetAddress>0x20000000</RamSnippetAddress>
    <UncachedRange />
    <preserveEEPROM>true</preserveEEPROM>
    <OverrideVtorValue>exception_table</OverrideVtorValue>
    <BootSegment>2</BootSegment>
    <ResetRule>0</ResetRule>
    <eraseonlaunchrule>0</eraseonlaunchrule>
    <EraseKey />
    <AsfFrameworkConfig>
      <framework-data>
        <options>
          <option id="common.boards" value="Add" config="" content-id="Atmel.ASF" />
          <option id="common.services.ioport" value="Add" config="" content-id="Atmel.ASF" />
          <option id="common.services.basic.sleepmgr" value="Add" config="" content-id="Atmel.ASF" />
          <option id="common.services.usb.class.device" value="Add" config="cdc" content-id="Atmel.ASF" />
          <option id="common.utils.stdio.stdio_serial" value="Add" config="" content-id="Atmel.ASF" />
          <option id="sam.drivers.afec" value="Add" config="" content-id="Atmel.ASF" />
          <option id="sam.drivers.efc" value="Add" config="" content-id="Atmel.ASF" />
          <option id="sam.drivers.matrix" value="Add" config="" content-id="Atmel.ASF" />
          <option id="sam.drivers.pwm" value="Add" config="" content-id="Atmel.ASF" />
          <option id="sam.drivers.qspi" value="Add" config="" content-id="Atmel.ASF" />
          <option id="sam.drivers.rstc" value="Add" config="" content-id="Atmel.ASF" />
          <option id="sam.drivers.spi" value="Add" config="" content-id="Atmel.ASF" />
          <option id="sam.drivers.tc" value="Add" config="" content-id="Atmel.ASF" />
          <option id="sam.drivers.twihs" value="Add" config="" content-id="Atmel.ASF" />
          <option id="sam.drivers.uart" value="Add" config="" content-id="Atmel.ASF" />
          <option id="sam.drivers.xdmac" value="Add" config="" content-id="Atmel.ASF" />
          <option id="sam.services.flash" value="Add" config="" content-id="Atmel.ASF" />
          <option id="sam.utils.linker_scripts" value="Add" config="" content-id="Atmel.ASF" />
        </options>
        <configurations>
          <configuration key="config.compiler.armgcc.fpu_used" value="yes" default="yes" content-id="Atmel.ASF" />
          <configuration key="config.compiler.armgcc.printf" value="iprintf" default="iprintf" content-id="Atmel.ASF" />
          <configuration key="config.compiler.armgcc.scanf" value="iscanf" default="iscanf" content-id="Atmel.ASF" />
          <configuration key="config.sam.drivers.usbhs.device.sleepmgr" value="with_sleepmgr" default="with_sleepmgr" content-id="Atmel.ASF" />
          <configuration key="config.sam.pio.pio_handler" value="yes" default="yes" content-id="Atmel.ASF" />
        </configurations>
        <files>
          <file path="main.c" framework="" version="" source="common/applications/user_application/main.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/config/conf_board.h" framework="" version="" source="common/applications/user_application/user_board/config/conf_board.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/boards/board.h" framework="" version="" source="common/boards/board.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/boards/user_board/init.c" framework="" version="" source="common/boards/user_board/init.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/boards/user_board/user_board.h" framework="" version="" source="common/boards/user_board/user_board.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/clock/genclk.h" framework="" version="3.40.0" source="common\services\clock\genclk.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/clock/osc.h" framework="" version="3.40.0" source="common\services\clock\osc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/clock/pll.h" framework="" version="3.40.0" source="common\services\clock\pll.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/clock/sams70/genclk.h" framework="" version="3.40.0" source="common\services\clock\sams70\genclk.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/clock/sams70/osc.h" framework="" version="3.40.0" source="common\services\clock\sams70\osc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/clock/sams70/pll.h" framework="" version="3.40.0" source="common\services\clock\sams70\pll.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/clock/sams70/sysclk.c" framework="" version="3.40.0" source="common\services\clock\sams70\sysclk.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/clock/sams70/sysclk.h" framework="" version="3.40.0" source="common\services\clock\sams70\sysclk.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/clock/sysclk.h" framework="" version="3.40.0" source="common\services\clock\sysclk.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/ioport/ioport.h" framework="" version="3.40.0" source="common\services\ioport\ioport.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/ioport/sam/ioport_pio.h" framework="" version="3.40.0" source="common\services\ioport\sam\ioport_pio.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/serial/sam_uart/uart_serial.h" framework="" version="3.40.0" source="common\services\serial\sam_uart\uart_serial.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/serial/serial.h" framework="" version="3.40.0" source="common\services\serial\serial.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/serial/usart_serial.c" framework="" version="3.40.0" source="common\services\serial\usart_serial.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/sleepmgr/sam/sleepmgr.c" framework="" version="3.40.0" source="common\services\sleepmgr\sam\sleepmgr.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/sleepmgr/sam/sleepmgr.h" framework="" version="3.40.0" source="common\services\sleepmgr\sam\sleepmgr.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/sleepmgr/sleepmgr.h" framework="" version="3.40.0" source="common\services\sleepmgr\sleepmgr.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/usb/class/cdc/device/udi_cdc.c" framework="" version="3.40.0" source="common\services\usb\class\cdc\device\udi_cdc.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/usb/class/cdc/device/udi_cdc.h" framework="" version="3.40.0" source="common\services\usb\class\cdc\device\udi_cdc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/usb/class/cdc/device/udi_cdc_conf.h" framework="" version="3.40.0" source="common\services\usb\class\cdc\device\udi_cdc_conf.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/usb/class/cdc/device/udi_cdc_desc.c" framework="" version="3.40.0" source="common\services\usb\class\cdc\device\udi_cdc_desc.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/usb/class/cdc/usb_protocol_cdc.h" framework="" version="3.40.0" source="common\services\usb\class\cdc\usb_protocol_cdc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/usb/udc/udc.c" framework="" version="3.40.0" source="common\services\usb\udc\udc.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/usb/udc/udc.h" framework="" version="3.40.0" source="common\services\usb\udc\udc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/usb/udc/udc_desc.h" framework="" version="3.40.0" source="common\services\usb\udc\udc_desc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/usb/udc/udd.h" framework="" version="3.40.0" source="common\services\usb\udc\udd.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/usb/udc/udi.h" framework="" version="3.40.0" source="common\services\usb\udc\udi.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/usb/usb_atmel.h" framework="" version="3.40.0" source="common\services\usb\usb_atmel.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/services/usb/usb_protocol.h" framework="" version="3.40.0" source="common\services\usb\usb_protocol.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/utils/interrupt.h" framework="" version="" source="common/utils/interrupt.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/utils/interrupt/interrupt_sam_nvic.c" framework="" version="" source="common/utils/interrupt/interrupt_sam_nvic.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/utils/interrupt/interrupt_sam_nvic.h" framework="" version="" source="common/utils/interrupt/interrupt_sam_nvic.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/utils/parts.h" framework="" version="" source="common/utils/parts.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/utils/stdio/read.c" framework="" version="3.40.0" source="common\utils\stdio\read.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/utils/stdio/stdio_serial/stdio_serial.h" framework="" version="3.40.0" source="common\utils\stdio\stdio_serial\stdio_serial.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/common/utils/stdio/write.c" framework="" version="3.40.0" source="common\utils\stdio\write.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/afec/afec.c" framework="" version="3.40.0" source="sam\drivers\afec\afec.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/afec/afec.h" framework="" version="3.40.0" source="sam\drivers\afec\afec.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/efc/efc.c" framework="" version="3.40.0" source="sam\drivers\efc\efc.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/efc/efc.h" framework="" version="3.40.0" source="sam\drivers\efc\efc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/matrix/matrix.c" framework="" version="3.40.0" source="sam\drivers\matrix\matrix.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/matrix/matrix.h" framework="" version="3.40.0" source="sam\drivers\matrix\matrix.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/pio/pio.c" framework="" version="3.40.0" source="sam\drivers\pio\pio.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/pio/pio.h" framework="" version="3.40.0" source="sam\drivers\pio\pio.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/pio/pio_handler.c" framework="" version="3.40.0" source="sam\drivers\pio\pio_handler.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/pio/pio_handler.h" framework="" version="3.40.0" source="sam\drivers\pio\pio_handler.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/pmc/pmc.c" framework="" version="3.40.0" source="sam\drivers\pmc\pmc.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/pmc/pmc.h" framework="" version="3.40.0" source="sam\drivers\pmc\pmc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/pmc/sleep.c" framework="" version="3.40.0" source="sam\drivers\pmc\sleep.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/pmc/sleep.h" framework="" version="3.40.0" source="sam\drivers\pmc\sleep.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/pwm/pwm.c" framework="" version="3.40.0" source="sam\drivers\pwm\pwm.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/pwm/pwm.h" framework="" version="3.40.0" source="sam\drivers\pwm\pwm.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/qspi/qspi.c" framework="" version="3.40.0" source="sam\drivers\qspi\qspi.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/qspi/qspi.h" framework="" version="3.40.0" source="sam\drivers\qspi\qspi.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/rstc/example1/rstc_example1.h" framework="" version="3.40.0" source="sam\drivers\rstc\example1\rstc_example1.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/rstc/rstc.c" framework="" version="3.40.0" source="sam\drivers\rstc\rstc.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/rstc/rstc.h" framework="" version="3.40.0" source="sam\drivers\rstc\rstc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/spi/spi.c" framework="" version="3.40.0" source="sam\drivers\spi\spi.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/spi/spi.h" framework="" version="3.40.0" source="sam\drivers\spi\spi.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/tc/tc.c" framework="" version="3.40.0" source="sam\drivers\tc\tc.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/tc/tc.h" framework="" version="3.40.0" source="sam\drivers\tc\tc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/twihs/twihs.c" framework="" version="3.40.0" source="sam\drivers\twihs\twihs.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/twihs/twihs.h" framework="" version="3.40.0" source="sam\drivers\twihs\twihs.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/uart/uart.c" framework="" version="3.40.0" source="sam\drivers\uart\uart.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/uart/uart.h" framework="" version="3.40.0" source="sam\drivers\uart\uart.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/usart/usart.h" framework="" version="3.40.0" source="sam\drivers\usart\usart.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/usbhs/usbhs_device.c" framework="" version="3.40.0" source="sam\drivers\usbhs\usbhs_device.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/usbhs/usbhs_device.h" framework="" version="3.40.0" source="sam\drivers\usbhs\usbhs_device.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/usbhs/usbhs_otg.h" framework="" version="3.40.0" source="sam\drivers\usbhs\usbhs_otg.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/xdmac/xdmac.c" framework="" version="3.40.0" source="sam\drivers\xdmac\xdmac.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/drivers/xdmac/xdmac.h" framework="" version="3.40.0" source="sam\drivers\xdmac\xdmac.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/acc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/acc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/aes.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/aes.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/afec.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/afec.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/chipid.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/chipid.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/dacc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/dacc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/efc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/efc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/gpbr.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/gpbr.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/hsmci.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/hsmci.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/i2sc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/i2sc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/icm.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/icm.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/isi.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/isi.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/matrix.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/matrix.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/pio.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/pio.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/pmc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/pmc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/pwm.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/pwm.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/qspi.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/qspi.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/rstc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/rstc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/rswdt.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/rswdt.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/rtc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/rtc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/rtt.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/rtt.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/sdramc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/sdramc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/smc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/smc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/spi.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/spi.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/ssc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/ssc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/supc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/supc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/tc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/tc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/trng.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/trng.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/twihs.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/twihs.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/uart.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/uart.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/usart.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/usart.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/usbhs.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/usbhs.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/utmi.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/utmi.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/wdt.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/wdt.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/component/xdmac.h" framework="" version="" source="sam/utils/cmsis/sams70/include/component/xdmac.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/acc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/acc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/aes.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/aes.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/afec0.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/afec0.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/afec1.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/afec1.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/chipid.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/chipid.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/dacc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/dacc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/efc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/efc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/gpbr.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/gpbr.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/hsmci.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/hsmci.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/i2sc0.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/i2sc0.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/i2sc1.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/i2sc1.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/icm.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/icm.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/isi.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/isi.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/matrix.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/matrix.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/pioa.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/pioa.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/piob.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/piob.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/pioc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/pioc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/piod.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/piod.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/pioe.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/pioe.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/pmc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/pmc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/pwm0.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/pwm0.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/pwm1.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/pwm1.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/qspi.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/qspi.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/rstc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/rstc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/rswdt.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/rswdt.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/rtc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/rtc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/rtt.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/rtt.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/sdramc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/sdramc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/smc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/smc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/spi0.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/spi0.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/spi1.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/spi1.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/ssc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/ssc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/supc.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/supc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/tc0.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/tc0.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/tc1.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/tc1.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/tc2.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/tc2.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/tc3.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/tc3.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/trng.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/trng.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/twihs0.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/twihs0.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/twihs1.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/twihs1.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/twihs2.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/twihs2.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/uart0.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/uart0.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/uart1.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/uart1.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/uart2.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/uart2.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/uart3.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/uart3.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/uart4.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/uart4.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/usart0.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/usart0.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/usart1.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/usart1.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/usart2.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/usart2.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/usbhs.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/usbhs.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/utmi.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/utmi.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/wdt.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/wdt.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/instance/xdmac.h" framework="" version="" source="sam/utils/cmsis/sams70/include/instance/xdmac.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/pio/sams70j19.h" framework="" version="" source="sam/utils/cmsis/sams70/include/pio/sams70j19.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/pio/sams70j19b.h" framework="" version="" source="sam/utils/cmsis/sams70/include/pio/sams70j19b.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/pio/sams70j20.h" framework="" version="" source="sam/utils/cmsis/sams70/include/pio/sams70j20.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/pio/sams70j20b.h" framework="" version="" source="sam/utils/cmsis/sams70/include/pio/sams70j20b.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/pio/sams70j21.h" framework="" version="" source="sam/utils/cmsis/sams70/include/pio/sams70j21.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/pio/sams70j21b.h" framework="" version="" source="sam/utils/cmsis/sams70/include/pio/sams70j21b.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/pio/sams70n19.h" framework="" version="" source="sam/utils/cmsis/sams70/include/pio/sams70n19.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/pio/sams70n19b.h" framework="" version="" source="sam/utils/cmsis/sams70/include/pio/sams70n19b.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/pio/sams70n20.h" framework="" version="" source="sam/utils/cmsis/sams70/include/pio/sams70n20.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/pio/sams70n20b.h" framework="" version="" source="sam/utils/cmsis/sams70/include/pio/sams70n20b.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/pio/sams70n21.h" framework="" version="" source="sam/utils/cmsis/sams70/include/pio/sams70n21.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/pio/sams70n21b.h" framework="" version="" source="sam/utils/cmsis/sams70/include/pio/sams70n21b.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/pio/sams70q19.h" framework="" version="" source="sam/utils/cmsis/sams70/include/pio/sams70q19.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/pio/sams70q19b.h" framework="" version="" source="sam/utils/cmsis/sams70/include/pio/sams70q19b.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/pio/sams70q20.h" framework="" version="" source="sam/utils/cmsis/sams70/include/pio/sams70q20.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/pio/sams70q20b.h" framework="" version="" source="sam/utils/cmsis/sams70/include/pio/sams70q20b.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/pio/sams70q21.h" framework="" version="" source="sam/utils/cmsis/sams70/include/pio/sams70q21.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/pio/sams70q21b.h" framework="" version="" source="sam/utils/cmsis/sams70/include/pio/sams70q21b.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/sams70.h" framework="" version="" source="sam/utils/cmsis/sams70/include/sams70.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/sams70j19.h" framework="" version="" source="sam/utils/cmsis/sams70/include/sams70j19.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/sams70j19b.h" framework="" version="" source="sam/utils/cmsis/sams70/include/sams70j19b.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/sams70j20.h" framework="" version="" source="sam/utils/cmsis/sams70/include/sams70j20.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/sams70j20b.h" framework="" version="" source="sam/utils/cmsis/sams70/include/sams70j20b.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/sams70j21.h" framework="" version="" source="sam/utils/cmsis/sams70/include/sams70j21.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/sams70j21b.h" framework="" version="" source="sam/utils/cmsis/sams70/include/sams70j21b.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/sams70n19.h" framework="" version="" source="sam/utils/cmsis/sams70/include/sams70n19.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/sams70n19b.h" framework="" version="" source="sam/utils/cmsis/sams70/include/sams70n19b.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/sams70n20.h" framework="" version="" source="sam/utils/cmsis/sams70/include/sams70n20.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/sams70n20b.h" framework="" version="" source="sam/utils/cmsis/sams70/include/sams70n20b.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/sams70n21.h" framework="" version="" source="sam/utils/cmsis/sams70/include/sams70n21.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/sams70n21b.h" framework="" version="" source="sam/utils/cmsis/sams70/include/sams70n21b.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/sams70q19.h" framework="" version="" source="sam/utils/cmsis/sams70/include/sams70q19.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/sams70q19b.h" framework="" version="" source="sam/utils/cmsis/sams70/include/sams70q19b.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/sams70q20.h" framework="" version="" source="sam/utils/cmsis/sams70/include/sams70q20.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/sams70q20b.h" framework="" version="" source="sam/utils/cmsis/sams70/include/sams70q20b.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/sams70q21.h" framework="" version="" source="sam/utils/cmsis/sams70/include/sams70q21.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include/sams70q21b.h" framework="" version="" source="sam/utils/cmsis/sams70/include/sams70q21b.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/source/templates/gcc/startup_sams70.c" framework="" version="" source="sam/utils/cmsis/sams70/source/templates/gcc/startup_sams70.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/source/templates/system_sams70.c" framework="" version="" source="sam/utils/cmsis/sams70/source/templates/system_sams70.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/source/templates/system_sams70.h" framework="" version="" source="sam/utils/cmsis/sams70/source/templates/system_sams70.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/compiler.h" framework="" version="" source="sam/utils/compiler.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/fpu/fpu.h" framework="" version="" source="sam/utils/fpu/fpu.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/header_files/io.h" framework="" version="" source="sam/utils/header_files/io.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/linker_scripts/sams70/sams70q21/gcc/flash.ld" framework="" version="" source="sam/utils/linker_scripts/sams70/sams70q21/gcc/flash.ld" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/make/Makefile.sam.in" framework="" version="" source="sam/utils/make/Makefile.sam.in" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/preprocessor/mrepeat.h" framework="" version="" source="sam/utils/preprocessor/mrepeat.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/preprocessor/preprocessor.h" framework="" version="" source="sam/utils/preprocessor/preprocessor.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/preprocessor/stringz.h" framework="" version="" source="sam/utils/preprocessor/stringz.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/preprocessor/tpaste.h" framework="" version="" source="sam/utils/preprocessor/tpaste.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/status_codes.h" framework="" version="" source="sam/utils/status_codes.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/sam/utils/syscalls/gcc/syscalls.c" framework="" version="" source="sam/utils/syscalls/gcc/syscalls.c" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/thirdparty/CMSIS/ATMEL-disclaimer.txt" framework="" version="" source="thirdparty/CMSIS/ATMEL-disclaimer.txt" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/thirdparty/CMSIS/CMSIS_END_USER_LICENCE_AGREEMENT.pdf" framework="" version="" source="thirdparty/CMSIS/CMSIS_END_USER_LICENCE_AGREEMENT.pdf" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/thirdparty/CMSIS/Include/arm_common_tables.h" framework="" version="" source="thirdparty/CMSIS/Include/arm_common_tables.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/thirdparty/CMSIS/Include/arm_const_structs.h" framework="" version="" source="thirdparty/CMSIS/Include/arm_const_structs.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/thirdparty/CMSIS/Include/arm_math.h" framework="" version="" source="thirdparty/CMSIS/Include/arm_math.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/thirdparty/CMSIS/Include/core_cm7.h" framework="" version="" source="thirdparty/CMSIS/Include/core_cm7.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/thirdparty/CMSIS/Include/core_cmFunc.h" framework="" version="" source="thirdparty/CMSIS/Include/core_cmFunc.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/thirdparty/CMSIS/Include/core_cmInstr.h" framework="" version="" source="thirdparty/CMSIS/Include/core_cmInstr.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/thirdparty/CMSIS/Include/core_cmSimd.h" framework="" version="" source="thirdparty/CMSIS/Include/core_cmSimd.h" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/thirdparty/CMSIS/Lib/GCC/libarm_cortexM7lfsp_math.a" framework="" version="" source="thirdparty/CMSIS/Lib/GCC/libarm_cortexM7lfsp_math.a" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/thirdparty/CMSIS/Lib/GCC/libarm_cortexM7lfsp_math_softfp.a" framework="" version="" source="thirdparty/CMSIS/Lib/GCC/libarm_cortexM7lfsp_math_softfp.a" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/thirdparty/CMSIS/Lib/license.txt" framework="" version="" source="thirdparty/CMSIS/Lib/license.txt" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/thirdparty/CMSIS/README.txt" framework="" version="" source="thirdparty/CMSIS/README.txt" changed="False" content-id="Atmel.ASF" />
          <file path="../../target_platform/contrib/ASF/thirdparty/CMSIS/license.txt" framework="" version="" source="thirdparty/CMSIS/license.txt" changed="False" content-id="Atmel.ASF" />
          <file path="atmel_devices_cdc.cat" framework="" version="3.40.0" source="common\services\usb\class\cdc\device\atmel_devices_cdc.cat" changed="False" content-id="Atmel.ASF" />
          <file path="atmel_devices_cdc.inf" framework="" version="3.40.0" source="common\services\usb\class\cdc\device\atmel_devices_cdc.inf" changed="False" content-id="Atmel.ASF" />
        </files>
        <documentation help="http://asf.atmel.com/docs/3.40.0/common.applications.user_application.user_board.sams70q21/html/index.html" />
        <offline-documentation help="" />
        <dependencies>
          <content-extension eid="atmel.asf" uuidref="Atmel.ASF" version="3.44.0" />
        </dependencies>
        <project id="common.applications.user_application.user_board.sams70q21" value="Add" config="" content-id="Atmel.ASF" />
        <board id="board.user_board.sams70q21" value="Add" config="" content-id="Atmel.ASF" />
      </framework-data>
    </AsfFrameworkConfig>
    <avrtoolserialnumber />
    <avrdeviceexpectedsignature>0xA1120E01</avrdeviceexpectedsignature>
    <custom>
      <ToolOptions>
        <InterfaceProperties>
        </InterfaceProperties>
        <InterfaceName>SWD</InterfaceName>
      </ToolOptions>
      <ToolType>custom</ToolType>
      <ToolNumber>
      </ToolNumber>
      <ToolName>Custom Programming Tool</ToolName>
    </custom>
    <avrtoolinterface>SWD</avrtoolinterface>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Release' ">
    <ToolchainSettings>
      <ArmGcc>
        <armgcc.common.outputfiles.hex>True</armgcc.common.outputfiles.hex>
        <armgcc.common.outputfiles.lss>True</armgcc.common.outputfiles.lss>
        <armgcc.common.outputfiles.eep>True</armgcc.common.outputfiles.eep>
        <armgcc.common.outputfiles.bin>True</armgcc.common.outputfiles.bin>
        <armgcc.common.outputfiles.srec>True</armgcc.common.outputfiles.srec>
        <armgcc.compiler.symbols.DefSymbols>
          <ListValues>
            <Value>NDEBUG</Value>
            <Value>scanf=iscanf</Value>
            <Value>BOARD=USER_BOARD</Value>
            <Value>ARM_MATH_CM7=true</Value>
            <Value>printf=iprintf</Value>
            <Value>UDD_ENABLE</Value>
          </ListValues>
        </armgcc.compiler.symbols.DefSymbols>
        <armgcc.compiler.directories.IncludePaths>
          <ListValues>
            <Value>../../../../../sources/stratula/library</Value>
            <Value>../../../../../sources/stratula/target</Value>
            <Value>../../../../../sources</Value>
            <Value>../../../target_platform/contrib/ASF/common/boards/user_board</Value>
            <Value>../../../target_platform/contrib/ASF/common/boards</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/clock</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/ioport</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/serial/sam_uart</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/serial</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/sleepmgr</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb/class/cdc/device</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb/class/cdc</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb/udc</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb</Value>
            <Value>../../../target_platform/contrib/ASF/common/utils/stdio/stdio_serial</Value>
            <Value>../../../target_platform/contrib/ASF/common/utils</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/afec</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/efc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/matrix</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/pio</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/pmc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/pwm</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/qspi</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/rstc/example1</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/rstc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/spi</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/tc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/twihs</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/uart</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/usart</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/usbhs</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/xdmac</Value>
            <Value>../../../target_platform/contrib/ASF/sam/services/flash_efc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/source/templates</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/fpu</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/header_files</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/preprocessor</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils</Value>
            <Value>../../../target_platform/contrib/ASF/thirdparty/CMSIS/Include</Value>
            <Value>../../../target_platform/contrib/ASF/thirdparty/CMSIS/Lib/GCC</Value>
            <Value>../../../target_platform/contrib/config</Value>
            <Value>../../../target_platform/contrib</Value>
            <Value>../../../target_platform</Value>
            <Value>..</Value>
          </ListValues>
        </armgcc.compiler.directories.IncludePaths>
        <armgcc.compiler.optimization.level>Optimize for size (-Os)</armgcc.compiler.optimization.level>
        <armgcc.compiler.optimization.OtherFlags>-fdata-sections</armgcc.compiler.optimization.OtherFlags>
        <armgcc.compiler.optimization.PrepareFunctionsForGarbageCollection>True</armgcc.compiler.optimization.PrepareFunctionsForGarbageCollection>
        <armgcc.compiler.warnings.AllWarnings>True</armgcc.compiler.warnings.AllWarnings>
        <armgcc.compiler.miscellaneous.OtherFlags>-pipe -fno-strict-aliasing -Wall -Wstrict-prototypes -Wmissing-prototypes -Werror-implicit-function-declaration -Wpointer-arith -std=gnu99 -ffunction-sections -fdata-sections -Wchar-subscripts -Wcomment -Wformat=2 -Wimplicit-int -Wmain -Wparentheses -Wsequence-point -Wreturn-type -Wswitch -Wtrigraphs -Wunused -Wuninitialized -Wunknown-pragmas -Wfloat-equal -Wundef -Wshadow -Wbad-function-cast -Wwrite-strings -Wsign-compare -Waggregate-return -Wmissing-declarations -Wformat -Wmissing-format-attribute -Wno-deprecated-declarations -Wpacked -Wredundant-decls -Wnested-externs -Wlong-long -Wunreachable-code -Wcast-align --param max-inline-insns-single=500 -mfloat-abi=softfp -mfpu=fpv5-sp-d16</armgcc.compiler.miscellaneous.OtherFlags>
        <armgcc.linker.libraries.Libraries>
          <ListValues>
            <Value>libarm_cortexM7lfsp_math_softfp</Value>
            <Value>libm</Value>
          </ListValues>
        </armgcc.linker.libraries.Libraries>
        <armgcc.linker.libraries.LibrarySearchPaths>
          <ListValues>
            <Value>../../../target_platform/contrib/ASF/thirdparty/CMSIS/Lib/GCC</Value>
          </ListValues>
        </armgcc.linker.libraries.LibrarySearchPaths>
        <armgcc.linker.optimization.GarbageCollectUnusedSections>True</armgcc.linker.optimization.GarbageCollectUnusedSections>
        <armgcc.linker.memorysettings.ExternalRAM />
        <armgcc.linker.miscellaneous.LinkerFlags>-Wl,--entry=Reset_Handler -Wl,--cref -mthumb -T../../../target_platform/contrib/ASF/sam/utils/linker_scripts/sams70/sams70q21/gcc/flash.ld</armgcc.linker.miscellaneous.LinkerFlags>
        <armgcc.assembler.general.IncludePaths>
          <ListValues>
            <Value>../../../target_platform/contrib/ASF/common/boards/user_board</Value>
            <Value>../../../target_platform/contrib/ASF/common/boards</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/clock</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/ioport</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/serial/sam_uart</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/serial</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/sleepmgr</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb/class/cdc/device</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb/class/cdc</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb/udc</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb</Value>
            <Value>../../../target_platform/contrib/ASF/common/utils/stdio/stdio_serial</Value>
            <Value>../../../target_platform/contrib/ASF/common/utils</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/afec</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/efc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/matrix</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/pio</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/pmc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/pwm</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/qspi</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/rstc/example1</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/rstc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/spi</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/tc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/twihs</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/uart</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/usart</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/usbhs</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/xdmac</Value>
            <Value>../../../target_platform/contrib/ASF/sam/services/flash_efc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/source/templates</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/fpu</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/header_files</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/preprocessor</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils</Value>
            <Value>../../../target_platform/contrib/ASF/thirdparty/CMSIS/Include</Value>
            <Value>../../../target_platform/contrib/config</Value>
            <Value>../../../target_platform/contrib</Value>
            <Value>../../../target_platform</Value>
          </ListValues>
        </armgcc.assembler.general.IncludePaths>
        <armgcc.preprocessingassembler.general.AssemblerFlags>-DARM_MATH_CM7=true -DBOARD=USER_BOARD -Dprintf=iprintf -Dscanf=iscanf -DUDD_ENABLE</armgcc.preprocessingassembler.general.AssemblerFlags>
        <armgcc.preprocessingassembler.general.IncludePaths>
          <ListValues>
            <Value>../../../target_platform/contrib/ASF/common/boards/user_board</Value>
            <Value>../../../target_platform/contrib/ASF/common/boards</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/clock</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/ioport</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/serial/sam_uart</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/serial</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/sleepmgr</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb/class/cdc/device</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb/class/cdc</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb/udc</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb</Value>
            <Value>../../../target_platform/contrib/ASF/common/utils/stdio/stdio_serial</Value>
            <Value>../../../target_platform/contrib/ASF/common/utils</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/afec</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/efc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/matrix</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/pio</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/pmc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/pwm</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/qspi</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/rstc/example1</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/rstc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/spi</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/tc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/twihs</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/uart</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/usart</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/usbhs</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/xdmac</Value>
            <Value>../../../target_platform/contrib/ASF/sam/services/flash_efc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/source/templates</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/fpu</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/header_files</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/preprocessor</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils</Value>
            <Value>../../../target_platform/contrib/ASF/thirdparty/CMSIS/Include</Value>
            <Value>../../../target_platform/contrib/config</Value>
            <Value>../../../target_platform/contrib</Value>
            <Value>../../../target_platform</Value>
          </ListValues>
        </armgcc.preprocessingassembler.general.IncludePaths>
      </ArmGcc>
    </ToolchainSettings>
    <UsesExternalMakeFile>True</UsesExternalMakeFile>
    <OutputDirectory>$(MSBuildProjectDirectory)\build-$(Configuration.ToLower())</OutputDirectory>
    <BuildTarget>BUILD_TYPE=release all</BuildTarget>
    <CleanTarget>BUILD_TYPE=release clean</CleanTarget>
    <ExternalMakeFilePath>makefile</ExternalMakeFilePath>
  </PropertyGroup>
  <PropertyGroup Condition=" '$(Configuration)' == 'Debug' ">
    <ToolchainSettings>
      <ArmGcc>
        <armgcc.common.outputfiles.hex>True</armgcc.common.outputfiles.hex>
        <armgcc.common.outputfiles.lss>True</armgcc.common.outputfiles.lss>
        <armgcc.common.outputfiles.eep>True</armgcc.common.outputfiles.eep>
        <armgcc.common.outputfiles.bin>True</armgcc.common.outputfiles.bin>
        <armgcc.common.outputfiles.srec>True</armgcc.common.outputfiles.srec>
        <armgcc.compiler.symbols.DefSymbols>
          <ListValues>
            <Value>DEBUG</Value>
            <Value>scanf=iscanf</Value>
            <Value>BOARD=USER_BOARD</Value>
            <Value>ARM_MATH_CM7=true</Value>
            <Value>printf=iprintf</Value>
            <Value>UDD_ENABLE</Value>
          </ListValues>
        </armgcc.compiler.symbols.DefSymbols>
        <armgcc.compiler.directories.IncludePaths>
          <ListValues>
            <Value>../../../../../sources/stratula/library</Value>
            <Value>../../../../../sources/stratula/target</Value>
            <Value>../../../../../sources</Value>
            <Value>../../../target_platform/contrib/ASF/common/boards/user_board</Value>
            <Value>../../../target_platform/contrib/ASF/common/boards</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/clock</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/ioport</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/serial/sam_uart</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/serial</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/sleepmgr</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb/class/cdc/device</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb/class/cdc</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb/udc</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb</Value>
            <Value>../../../target_platform/contrib/ASF/common/utils/stdio/stdio_serial</Value>
            <Value>../../../target_platform/contrib/ASF/common/utils</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/afec</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/efc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/matrix</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/pio</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/pmc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/pwm</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/qspi</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/rstc/example1</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/rstc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/spi</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/tc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/twihs</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/uart</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/usart</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/usbhs</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/xdmac</Value>
            <Value>../../../target_platform/contrib/ASF/sam/services/flash_efc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/source/templates</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/fpu</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/header_files</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/preprocessor</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils</Value>
            <Value>../../../target_platform/contrib/ASF/thirdparty/CMSIS/Include</Value>
            <Value>../../../target_platform/contrib/config</Value>
            <Value>../../../target_platform/contrib</Value>
            <Value>../../../target_platform</Value>
            <Value>..</Value>
          </ListValues>
        </armgcc.compiler.directories.IncludePaths>
        <armgcc.compiler.optimization.OtherFlags>-fdata-sections</armgcc.compiler.optimization.OtherFlags>
        <armgcc.compiler.optimization.PrepareFunctionsForGarbageCollection>True</armgcc.compiler.optimization.PrepareFunctionsForGarbageCollection>
        <armgcc.compiler.optimization.DebugLevel>Maximum (-g3)</armgcc.compiler.optimization.DebugLevel>
        <armgcc.compiler.warnings.AllWarnings>True</armgcc.compiler.warnings.AllWarnings>
        <armgcc.compiler.miscellaneous.OtherFlags>-pipe -fno-strict-aliasing -Wall -Wstrict-prototypes -Wmissing-prototypes -Werror-implicit-function-declaration -Wpointer-arith -std=gnu99 -ffunction-sections -fdata-sections -Wchar-subscripts -Wcomment -Wformat=2 -Wimplicit-int -Wmain -Wparentheses -Wsequence-point -Wreturn-type -Wswitch -Wtrigraphs -Wunused -Wuninitialized -Wunknown-pragmas -Wfloat-equal -Wundef -Wshadow -Wbad-function-cast -Wwrite-strings -Wsign-compare -Waggregate-return -Wmissing-declarations -Wformat -Wmissing-format-attribute -Wno-deprecated-declarations -Wpacked -Wredundant-decls -Wnested-externs -Wlong-long -Wunreachable-code -Wcast-align --param max-inline-insns-single=500 -mfloat-abi=softfp -mfpu=fpv5-sp-d16</armgcc.compiler.miscellaneous.OtherFlags>
        <armgcc.linker.libraries.Libraries>
          <ListValues>
            <Value>libarm_cortexM7lfsp_math_softfp</Value>
            <Value>libm</Value>
          </ListValues>
        </armgcc.linker.libraries.Libraries>
        <armgcc.linker.libraries.LibrarySearchPaths>
          <ListValues>
            <Value>../../../target_platform/contrib/ASF/thirdparty/CMSIS/Lib/GCC</Value>
          </ListValues>
        </armgcc.linker.libraries.LibrarySearchPaths>
        <armgcc.linker.optimization.GarbageCollectUnusedSections>True</armgcc.linker.optimization.GarbageCollectUnusedSections>
        <armgcc.linker.memorysettings.ExternalRAM />
        <armgcc.linker.miscellaneous.LinkerFlags>-Wl,--entry=Reset_Handler -Wl,--cref -mthumb -T../../../target_platform/contrib/ASF/sam/utils/linker_scripts/sams70/sams70q21/gcc/flash.ld</armgcc.linker.miscellaneous.LinkerFlags>
        <armgcc.assembler.general.IncludePaths>
          <ListValues>
            <Value>../../../target_platform/contrib/ASF/common/boards/user_board</Value>
            <Value>../../../target_platform/contrib/ASF/common/boards</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/clock</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/ioport</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/serial/sam_uart</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/serial</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/sleepmgr</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb/class/cdc/device</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb/class/cdc</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb/udc</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb</Value>
            <Value>../../../target_platform/contrib/ASF/common/utils/stdio/stdio_serial</Value>
            <Value>../../../target_platform/contrib/ASF/common/utils</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/afec</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/efc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/matrix</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/pio</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/pmc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/pwm</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/qspi</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/rstc/example1</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/rstc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/spi</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/tc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/twihs</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/uart</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/usart</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/usbhs</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/xdmac</Value>
            <Value>../../../target_platform/contrib/ASF/sam/services/flash_efc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/source/templates</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/fpu</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/header_files</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/preprocessor</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils</Value>
            <Value>../../../target_platform/contrib/ASF/thirdparty/CMSIS/Include</Value>
            <Value>../../../target_platform/contrib/ASF/thirdparty/CMSIS/Lib/GCC</Value>
            <Value>../../../target_platform/contrib/config</Value>
            <Value>../../../target_platform/contrib</Value>
            <Value>../../../target_platform</Value>
          </ListValues>
        </armgcc.assembler.general.IncludePaths>
        <armgcc.assembler.debugging.DebugLevel>Default (-g)</armgcc.assembler.debugging.DebugLevel>
        <armgcc.preprocessingassembler.general.AssemblerFlags>-DARM_MATH_CM7=true -DBOARD=USER_BOARD -Dprintf=iprintf -Dscanf=iscanf -DUDD_ENABLE</armgcc.preprocessingassembler.general.AssemblerFlags>
        <armgcc.preprocessingassembler.general.IncludePaths>
          <ListValues>
            <Value>../../../target_platform/contrib/ASF/common/boards/user_board</Value>
            <Value>../../../target_platform/contrib/ASF/common/boards</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/clock</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/ioport</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/serial/sam_uart</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/serial</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/sleepmgr</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb/class/cdc/device</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb/class/cdc</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb/udc</Value>
            <Value>../../../target_platform/contrib/ASF/common/services/usb</Value>
            <Value>../../../target_platform/contrib/ASF/common/utils/stdio/stdio_serial</Value>
            <Value>../../../target_platform/contrib/ASF/common/utils</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/afec</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/efc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/matrix</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/pio</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/pmc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/pwm</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/qspi</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/rstc/example1</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/rstc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/spi</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/tc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/twihs</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/uart</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/usart</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/usbhs</Value>
            <Value>../../../target_platform/contrib/ASF/sam/drivers/xdmac</Value>
            <Value>../../../target_platform/contrib/ASF/sam/services/flash_efc</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/include</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/cmsis/sams70/source/templates</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/fpu</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/header_files</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils/preprocessor</Value>
            <Value>../../../target_platform/contrib/ASF/sam/utils</Value>
            <Value>../../../target_platform/contrib/ASF/thirdparty/CMSIS/Include</Value>
            <Value>../../../target_platform/contrib/ASF/thirdparty/CMSIS/Lib/GCC</Value>
            <Value>../../../target_platform/contrib/config</Value>
            <Value>../../../target_platform/contrib</Value>
            <Value>../../../target_platform</Value>
          </ListValues>
        </armgcc.preprocessingassembler.general.IncludePaths>
        <armgcc.preprocessingassembler.debugging.DebugLevel>Default (-Wa,-g)</armgcc.preprocessingassembler.debugging.DebugLevel>
      </ArmGcc>
    </ToolchainSettings>
    <UsesExternalMakeFile>True</UsesExternalMakeFile>
    <OutputDirectory>$(MSBuildProjectDirectory)\build-$(Configuration.ToLower())</OutputDirectory>
    <BuildTarget>all</BuildTarget>
    <CleanTarget>clean</CleanTarget>
    <ExternalMakeFilePath>makefile</ExternalMakeFilePath>
  </PropertyGroup>
  <ItemGroup>
    <Folder Include="sources\" />
    <Folder Include="target_platform\" />
    <Folder Include="bsp\" />
  </ItemGroup>
  <ItemGroup>
    <Compile Include="..\..\..\..\sources\**\*.h">
      <Link>sources\%(RecursiveDir)%(Filename)%(Extension)</Link>
      <SubType>compile</SubType>
    </Compile>
    <Compile Include="..\..\..\..\sources\**\*.c">
      <Link>sources\%(RecursiveDir)%(Filename)%(Extension)</Link>
      <SubType>compile</SubType>
    </Compile>
    <None Include="..\..\..\..\sources\**\*.mk">
      <Link>sources\%(RecursiveDir)%(Filename)%(Extension)</Link>
    </None>
    <Compile Include="..\..\target_platform\**\*.h">
      <Link>target_platform\%(RecursiveDir)%(Filename)%(Extension)</Link>
      <SubType>compile</SubType>
    </Compile>
    <Compile Include="..\..\target_platform\**\*.c">
      <Link>target_platform\%(RecursiveDir)%(Filename)%(Extension)</Link>
      <SubType>compile</SubType>
    </Compile>
    <None Include="..\..\target_platform\**\*.mk">
      <Link>target_platform\%(RecursiveDir)%(Filename)%(Extension)</Link>
    </None>
    <Compile Include="bsp\**\*.h">
      <Link>bsp\%(RecursiveDir)%(Filename)%(Extension)</Link>
      <SubType>compile</SubType>
    </Compile>
    <None Include="..\subprojects.mk">
      <Link>subprojects.mk</Link>
      <SubType>compile</SubType>
    </None>
    <None Include="config.mk">
      <Link>config.mk</Link>
      <SubType>compile</SubType>
    </None>
    <None Include="makefile">
      <Link>makefile</Link>
      <SubType>compile</SubType>
    </None>
    <Compile Include="Board.c">
      <SubType>compile</SubType>
    </Compile>
    <Compile Include="BoardOutput.c">
      <SubType>compile</SubType>
    </Compile>
    <Compile Include="BoardOutput.h">
      <SubType>compile</SubType>
    </Compile>
    <Compile Include="BoardDefinition.h">
      <SubType>compile</SubType>
    </Compile>
    <Compile Include="main.c">
      <SubType>compile</SubType>
    </Compile>
  </ItemGroup>
  <Import Project="$(AVRSTUDIO_EXE_PATH)\\Vs\\Compiler.targets" />
</Project>
